/* リセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    background-color: #f1ece7;
    color: #8b7969;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}